@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', 'Noto Sans Arabic', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-arabic: 'Noto Sans Arabic', ui-sans-serif, system-ui, sans-serif;
    
    /* Custom colors */
    --color-primary-light: #3CA6B4;
    --color-primary-medium: #08788B;
    --color-primary-dark: #025469;
    --color-accent: #DFA340;
}
